#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Architecture map for dpkg 
# "Arch in dpkg" -> "Arch in openlist"
# See: https://wiki.debian.org/SupportedArchitectures and https://www.debian.org/ports/
# Note: armel will be removed in Debian 14
amd64_mapped   := amd64
i386_mapped    := 386
arm64_mapped   := arm64
armhf_mapped   := arm
ppc64el_mapped := ppc64le
riscv64_mapped := riscv64
s390x_mapped   := s390x
loong64_mapped := loong64

# Get arch value, return original value if not found
get_mapped_arch = $(if $(value $(1)_mapped),$(value $(1)_mapped),$(1))

GOLANG_ARCH := $(call get_mapped_arch,$(DEB_HOST_ARCH))

export GOHOSTOS  := linux
export GOHOSTARCH := $(GOLANG_ARCH)

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	cd $(CURDIR)/tailscale
	./build_dist.sh tailscale.com/cmd/tailscale
	./build_dist.sh tailscale.com/cmd/tailscaled

override_dh_auto_install:
	install -Dm755 -t $(CURDIR)/debian/tailscale/usr/bin $(CURDIR)/tailscale/tailscale
	install -Dm755 -t $(CURDIR)/debian/tailscale/usr/sbin $(CURDIR)/tailscale/tailscaled
	cp -arv $(CURDIR)/rootfs/* $(CURDIR)/debian/tailscale/

